<div class="bar">
    <div class="row">
        <div class="col-md-3">
            <div class="team-member">
                <div class="tm-head">
                    <div class="tm-image">
                        <img src="./assets/images/team1-min.webp" />
                    </div>
                    <div class="tm-info">
                        <h4 class="tm-name">Carlos Pope</h4>
                        <span class="tm-position">Dentist</span>
                    </div>
                </div>
                <div class="tm-content">
                    <p>Lorem ipsum dolor sit amet, et pri legimus reprehendunt.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="team-member">
                <div class="tm-head">
                    <div class="tm-image">
                        <img src="./assets/images/team2-min.webp" />
                    </div>
                    <div class="tm-info">
                        <h4 class="tm-name">Bret Kerns</h4>
                        <span class="tm-position">Cosmetic Dentist</span>
                    </div>
                </div>
                <div class="tm-content">
                    <p>Lorem ipsum dolor sit amet, et pri legimus reprehendunt.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="team-member">
                <div class="tm-head">
                    <div class="tm-image">
                        <img src="./assets/images/team3-min.webp" />
                    </div>
                    <div class="tm-info">
                        <h4 class="tm-name">Gary Ridgway</h4>
                        <span class="tm-position">Hygienist</span>
                    </div>
                </div>
                <div class="tm-content">
                    <p>Lorem ipsum dolor sit amet, et pri legimus reprehendunt.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="team-member">
                <div class="tm-head">
                    <div class="tm-image">
                        <img src="./assets/images/team1-min.webp" />
                    </div>
                    <div class="tm-info">
                        <h4 class="tm-name">Carlos Pope</h4>
                        <span class="tm-position">Dentist</span>
                    </div>
                </div>
                <div class="tm-content">
                    <p>Lorem ipsum dolor sit amet, et pri legimus reprehendunt.</p>
                </div>
            </div>
        </div>
    </div>
</div>
