<div class="bar">
  <div class="row">
    <div class="col-12">
      <a href="#" class="menu-item">HOME 1</a>
      <a href="#" class="menu-item">HOME 2</a>
      <a href="#" class="menu-item">HOME 3</a>
      <a href="#" class="menu-item">HOME 4</a>
      <button class="btn btn-theme btn-toggler" (click)="onToggleCollapse()">
        <fa-icon [icon]="['fas','bars']"></fa-icon>
      </button>
    </div>
  </div>
</div>
<div class="content-toggler" style="display: '{{toggleCollapse}}'">
  <!-- [ngStyle]="{ 'display': toggleCollapse ? 'block' : 'none' }"-->
  <a href="#" class="menu-item">HOME 1</a>
  <a href="#" class="menu-item">HOME 2</a>
  <a href="#" class="menu-item">HOME 3</a>
  <a href="#" class="menu-item">HOME 4</a>
</div>