.bar{
    min-height: 82px;
}
/*
.navbar-nav{
    font-family: Ubuntu;
    text-transform: uppercase;
    line-height: 24px;
    font-weight: 500;
    font-style: normal;
    color: #777;
    font-size: 14px;
}
.navbar-nav .active a{
    background-color: transparent;
    color: #5bcc9f;
}
.navbar-nav a:hover{
    color: #5bcc9f;
}
.navbar-default {
    padding: 5px 0px;
    border-radius: 0 0 1px 1px;
    background-color: #fff;
    box-shadow: 0 1px 3px #ddd;
    margin-bottom: 20px;
}
*/