<div class="bar">
    <div class="row">
        <div class="col-12">
            <app-title-bar 
                [header]="'About Us'"
                [subHeader]="'WELCOME TO OUR DENTAL CLINIC'">
            </app-title-bar>
        </div>
    </div>
</div>
<div class="bar">
    <div class="row">
        <div class="col-md-6">
            <p>The first thing you’re certain to notice about our practice is the comfortable, low-stress environment that we promote.</p>
            <p>Proper dental care is important at all ages. Good dental health requires that you take care of your teeth daily and have regular dental check-ups.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-md-6">
            <img src="./assets/images/36-min.webp" class="profile"/>
        </div>
    </div>
</div>