
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="header-bar">
                <div class="row">
                    <div class="col-md-2">
                        <div class="logo">
                            <!--<fa-icon [icon]="faCoffee"></fa-icon>-->
                            <fa-icon [icon]="['fas','tooth']"></fa-icon>
                            <div class="head">
                                <span class="bold">Dental</span>
                                <span class="thin">Press</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="info">
                            <div class="item">
                                <fa-icon [icon]="['fas','envelope']"></fa-icon>
                                <span class="block-line"></span>
                                <div class="title">
                                    <span class="bold">Visit our Location</span>
                                    <span class="thin">250 Main Street, New York</span>
                                </div>
                            </div>
                            <div class="item">
                                <fa-icon [icon]="['fas','envelope']"></fa-icon>
                                <span class="block-line"></span>
                                <div class="title">
                                    <span class="bold">Give us a Call</span>
                                    <span class="thin">+1 123 456 789</span>
                                </div>
                            </div>
                            <div class="item">
                                <fa-icon [icon]="['fas','envelope']"></fa-icon>
                                <span class="block-line"></span>
                                <div class="title">
                                    <span class="bold">Opening Hours</span>
                                    <span class="thin">Mon - Sat: 7:00 - 17:00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>