<div class="bar clearfix">
    <div class="parallax">
        <div class="parallax-content">
            <div class="parallax-row">
                <div class="row">
                    <div class="col-md-3 item">
                        <span class="digit">17</span>
                        <h5 class="label">YEARS OF EXPERIENCE</h5>
                    </div>
                    <div class="col-md-3 item">
                        <span class="digit">1532</span>
                        <h5 class="label">PATIENTS A YEAR</h5>
                    </div>
                    <div class="col-md-3 item">
                        <span class="digit">12</span>
                        <h5 class="label">DENTAL SPECIALISTS</h5>
                    </div>
                    <div class="col-md-3 item">
                        <span class="digit">2317</span>
                        <h5 class="label">HAPPY SMILES</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
