<div class="container" id="home">
  <header class="main-header">
    <div class="row">
      <div class="col-12">
        <app-social-bar></app-social-bar>
        <app-header-bar></app-header-bar>
        <app-nav-bar></app-nav-bar>
      </div>
    </div>
  </header>
  <div class="main-section">
    <div class="row">
      <div class="col-12">
        <div class="main-content">

          <div class="section-box">
            <app-carousel-bar></app-carousel-bar>
          </div>
          <div class="section-unbox">
            <app-introduction-bar></app-introduction-bar>
          </div>
          <div class="section-box" id="about-us">
            <div class="sb-content">
              <app-about-us-bar></app-about-us-bar>
            </div>
          </div>
          <div class="section-box" id="services">
            <div class="sb-content">
              <app-our-services-bar></app-our-services-bar>
            </div>
          </div>
          <div class="section-box" id="gallery">
            <div class="sb-content">
              <app-gallery-bar></app-gallery-bar>
            </div>
          </div>
          <div class="section-box" id="teams">
            <div class="sb-content pb-1">
              <app-title-bar 
                [header]="'Our Team'"
                [subHeader]="'WE LOOK FORWARD TO CARING FOR YOUR SMILE!'">
              </app-title-bar>
            </div>
          </div>
          <div class="section-unbox" id="team">
            <app-our-team-bar></app-our-team-bar>
          </div>
          <div class="section-box">
            <app-parallax-bar></app-parallax-bar>
          </div>

        </div>
      </div>
    </div>
  </div>
  <footer class="main-footer">
    <div class="row">
      <div class="col-12">
        <app-footer-bar></app-footer-bar>
        <app-copyright-bar></app-copyright-bar>
      </div>
    </div>
  </footer>
</div>
<router-outlet></router-outlet>
