<div class="container">
  <header class="main-header">
    <div class="row">
      <app-social-bar></app-social-bar>
      <div class="col-xs-12">
        <app-header-bar></app-header-bar>
        <app-navbar></app-navbar>
      </div>
    </div>
  </header>
  <div class="main-section">
    <div class="row">
      <div class="col-xs-12">
        <div class="main-content">

          <div class="section-box">
            <app-carousel-bar></app-carousel-bar>
          </div>
          <div class="section-unbox">
            <app-introduction-bar></app-introduction-bar>
          </div>
          <div class="section-box">
            <div class="sb-content">
              <app-our-services-bar></app-our-services-bar>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
