.section-box{
    border-radius: 1px;
    box-shadow: 0 1px 3px #ddd;
    background-color: #fff;
    margin-bottom: 20px;
}
.section-box .sb-content{
    padding: 30px;
}
.section-unbox{
    margin-bottom: 20px;
}