<div class="bar">
    <div class="row">
        <div class="col-md-7"><span>Let us take care of you and your smile!</span></div>
        <div class="col-md-5 icons">
            <a href="#">
                <fa-icon [icon]="['fab','facebook']"></fa-icon>
            </a>
            <a href="#">
                <fa-icon [icon]="['fab','twitter']"></fa-icon>
            </a>
            <a href="#">
                <fa-icon [icon]="['fab','instagram']"></fa-icon>
            </a>
        </div>
    </div>
</div>
