<div class="social-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <span>Let us take care of you and your smile!</span>
            </div>
            <div class="col-xs-6 text-right">
                <a href="#">
                    <fa-icon [icon]="['fab','facebook']"></fa-icon>
                </a>
                <a href="#">
                    <fa-icon [icon]="['fab','twitter']"></fa-icon>
                </a>
                <a href="#">
                    <fa-icon [icon]="['fab','instagram']"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</div>
