<div class="bar clearfix">
    <div class="col-md-4">
        <div class="widget footer-1">
            <div class="logo">
                <!--<fa-icon [icon]="faCoffee"></fa-icon>-->
                <fa-icon [icon]="['fas','tooth']"></fa-icon>
                <div class="head">
                    <span class="bold">Dental</span>
                    <span class="thin">Press</span>
                </div>
            </div>
            This site is a theme made especially for individual dentists, dental clinics and other healthcare professionals and medical businesses.
            <div class="info-item mt-25">
                <fa-icon [icon]="['fas','map-marker-alt']"></fa-icon>
                250 Main Street, New York
            </div>
            <div class="info-item">
                <fa-icon [icon]="['fas','phone-volume']"></fa-icon>
                +1 123 456 789
            </div>
            <div class="info-item">
                <fa-icon [icon]="['far','envelope']"></fa-icon>
                info@dentalpress.com
            </div>
            <div class="social-icon">
                <div class="item">
                    <a href="#">
                        <fa-icon [icon]="['fab','facebook']"></fa-icon>
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        <fa-icon [icon]="['fab','twitter']"></fa-icon>
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        <fa-icon [icon]="['fab','instagram']"></fa-icon>
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        <fa-icon [icon]="['fab','youtube']"></fa-icon>
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        <fa-icon [icon]="['fab','linkedin-in']"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="widget footer-2">
            <h3 class="title">
                WHAT WE DO
            </h3>
            <div class="content">
                <ul class="list-icon">
                    <li>
                        <fa-icon [icon]="['far','check-circle']"></fa-icon>
                        Dental examine
                    </li>
                    <li>
                        <fa-icon [icon]="['far','check-circle']"></fa-icon>
                        Consulting
                    </li>
                    <li>
                        <fa-icon [icon]="['far','check-circle']"></fa-icon>
                        Dental implants
                    </li>
                    <li>
                        <fa-icon [icon]="['far','check-circle']"></fa-icon>
                        General dentistry
                    </li>
                    <li>
                        <fa-icon [icon]="['far','check-circle']"></fa-icon>
                        Periodontics
                    </li>
                    <li>
                        <fa-icon [icon]="['far','check-circle']"></fa-icon>
                        Teeth Whitening
                    </li>
                    <li>
                        <fa-icon [icon]="['far','check-circle']"></fa-icon>
                        Porcelain Veneers
                    </li>
                    <li>
                        <fa-icon [icon]="['far','check-circle']"></fa-icon>
                        Emergency Care
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="widget footer-3">
            <h3 class="title">
                OPENING HOURS
            </h3>
            <div class="wh-item">
                <div class="wh-day">Monday</div>
                <div class="wh-hour">8:00 – 16:00</div>
            </div>
            <div class="wh-item active">
                <div class="wh-day">Tuesday</div>
                <div class="wh-hour">8:00 – 16:00</div>
            </div>
            <div class="wh-item">
                <div class="wh-day">Wednesday</div>
                <div class="wh-hour">8:00 – 16:00</div>
            </div>
            <div class="wh-item">
                <div class="wh-day">Thursday</div>
                <div class="wh-hour">8:00 – 16:00</div>
            </div>
            <div class="wh-item">
                <div class="wh-day">Friday</div>
                <div class="wh-hour">8:00 – 16:00</div>
            </div>
            <div class="wh-item">
                <div class="wh-day">Saturday</div>
                <div class="wh-hour">8:00 – 16:00</div>
            </div>
            <div class="wh-item">
                <div class="wh-day">Sunday</div>
                <div class="wh-hour">8:00 – 16:00</div>
            </div>
        </div>
    </div>
</div>
