<div class="bar">
    <div class="row">
        <div class="col-xs-12">
            <app-title-bar 
                [header]="'Our Services'"
                [subHeader]="'PROVIDING SPECIALIST DENTAL CARE AND TRAINING'">
            </app-title-bar>
        </div>
    </div>
</div>
<div class="bar">
    <div class="row">
    <div class="col-md-4">
        <div class="box">
            <div class="image">
                <img src="./assets/images/gallery4-800x400.jpg" />
            </div>
            <div class="content">
                <div class="title">
                    Tooth Cleaning
                </div>
                <div class="desc">
                    Our experienced hygienists attend education seminars regularly to keep up with the latest in research and technologies.
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box">
            <div class="image">
                <img src="./assets/images/gallery9-800x400.jpg" />
            </div>
            <div class="content">
                <div class="title">
                    Dental Implants
                </div>
                <div class="desc">
                    A all dependent on one’s individual situation; the periodontist will draw up a plan for implants that is most suited to you.
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box">
            <div class="image">
                <img src="./assets/images/gallery34-800x400.jpg" />
            </div>
            <div class="content">
                <div class="title">
                    Periodontics
                </div>
                <div class="desc">
                    Periodontal disease are most often caused by poor oral hygiene, dental plaque, smoking, genetic factors, stress, diet, age and illness.
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box">
            <div class="image">
                <img src="./assets/images/gallery28-800x400.jpg" />
            </div>
            <div class="content">
                <div class="title">
                    Clear Aligners
                </div>
                <div class="desc">
                    Clear Aligners are a series of custom made plastic aligners created based on the digital models made from the impression.
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box">
            <div class="image">
                <img src="./assets/images/gallery31-800x400.jpg" />
            </div>
            <div class="content">
                <div class="title">
                    Painless Dentistry
                </div>
                <div class="desc">
                    Anesthesia can be given in the form of an injection or by inhaling- breathing in- gases mixed with oxygen, or sometimes combined.
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box">
            <div class="image">
                <img src="./assets/images/gallery16-800x400.jpg" />
            </div>
            <div class="content">
                <div class="title">
                    Oral Surgery
                </div>
                <div class="desc">
                    Implant placements, bone grafting and impacted wisdom tooth removal are also performed by our highly trained dentists.
                </div>
            </div>
        </div>
    </div>
</div>
</div>