<div class="bar">
    <div class="row">
        <div class="col-sm-4">
            <div class="box">
                <div class="icon">
                    <fa-icon [icon]="['far','comment-dots']"></fa-icon>
                </div>
                <div class="content">
                    <div class="title">
                        Free Consultation
                    </div>
                    <div class="desc">
                        Our treatment offers a free of charge opportunity to visit the clinic to get to know your issue.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="box">
                <div class="icon">
                    <fa-icon [icon]="['fas','users']"></fa-icon>
                </div>
                <div class="content">
                    <div class="title">
                        A fantastic team
                    </div>
                    <div class="desc">
                        We pride ourselves on having a friendly, helpful and dedicated team at our dental clinic.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="box">
                <div class="icon">
                    <fa-icon [icon]="['fas','hand-holding-medical']"></fa-icon>
                </div>
                <div class="content">
                    <div class="title">
                        24h Emergency Service
                    </div>
                    <div class="desc">
                        As one of our patients, if you are experiencing dental problems, feel free to call us anytime.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>